@font-face {
  font-family: InterV-Regular;
  src: url("../Fonts/Inter/static/Inter-Regular.ttf");
}
td, td p {
  font-family: InterV-Regular !important;
}

.DashboardBtn {
  background-color: #37b721 !important;
  color: white !important;
  border: none;
}
.DashboardBtn:hover {
  background-color: #198107 !important;
}

.logoImage {
  width: 29.4px;
  height: 35px;
}

.NavTextColor {
  color: #7e8299;
}

.NavAncorColor {
  color: white;
}

.greenColor {
  color: #37b721;
}

.headingColor {
  color: #0b244f !important;
}

.navbarBgColor {
  background-color: #0d161f !important;
}

.ProfilePic {
  width: 33.3px;
  height: 33.3px;
  border-radius: 3px;
}

.NavAncorColoruser {
  color: white;
  line-height: 2.2;
}

.header {
  box-shadow: 0 4px 9px 0 rgba(216, 224, 229, 0.65);
  background-color: white;
  margin-bottom: 9px;
}

.headerButton {
  border: none;
  background-color: #f3f6f9;
  border: 1px solid transparent;
}
.headerButton a {
  color: #7e8299;
}

.headerButton:hover {
  color: #37b721 !important;
  border: 1px solid #37b721 !important;
}

.PostButton {
  border: none;
  color: white;
  background-color: #37b721;
}
.PostButton:hover {
  background-color: #198107 !important;
  color: white;
}

.mainbody {
  background-color: #f2f3f7;
}

.circleGraph, .lineGraphDiv {
  border-radius: 5.3px;
  box-shadow: 0 0 9px 0 rgba(237, 242, 244, 0.65);
}

td,
button {
  color: #7e8299;
}

.tableHover tbody tr:hover {
  background: #f0f0ff !important;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

@media screen and (max-width: 970px) {
  .tableResponse {
    width: 970px;
  }
}
.tableHover tbody tr td {
  padding-bottom: 6.5px !important;
  font-size: 12px !important;
}
.tableHover tbody tr td .font-14 {
  font-size: 14px !important;
}

.tableHover thead tr td {
  padding-bottom: 6.5px !important;
  font-size: 12px !important;
}

.tableWidthbottom {
  border-bottom: 1px solid #b5b5c3;
}

.cardButtons {
  background-color: #f3f6f9;
  color: #7e8299;
  border: 2px solid transparent !important;
}
.cardButtons:hover {
  color: #37b721 !important;
  border: 2px solid #37b721 !important;
  background-color: #f3f6f9;
}

.onactive {
  color: white !important;
  background-color: #37b721;
}

.TotalQuota {
  line-height: 1.3 !important;
}

.bgquota {
  background-color: #f3f6f9;
}

.circlebtn {
  width: 8.9px;
  height: 8.9px;
  border-radius: 50%;
  background-color: #5267ff;
}

.circlebtn1 {
  width: 8.9px;
  height: 8.9px;
  border-radius: 50%;
  background-color: #26bfb4;
}

.circlebtn2 {
  width: 8.9px;
  height: 8.9px;
  border-radius: 50%;
  background-color: #f94e67;
}

.circlebtn3 {
  width: 8.9px;
  height: 8.9px;
  border-radius: 50%;
  background-color: #865cf7;
}

.boxfree {
  width: 8.9px;
  height: 8.9px;
  border-radius: 3px;
  background-color: #26bfb4;
}

.boxyellow {
  width: 8.9px;
  height: 8.9px;
  border-radius: 3px;
  background-color: #ffb600;
}

.boxred {
  width: 8.9px;
  height: 8.9px;
  border-radius: 3px;
  background-color: #f1416c;
}

.statusbtnactive {
  color: #37b721;
  border: none;
  background-color: rgba(55, 183, 33, 0.12);
  border-radius: 4px;
}

.statusbtninactive {
  color: #f1416c;
  border: none;
  background-color: rgba(241, 65, 108, 0.12);
  border-radius: 4px;
}

.statusbtnpending {
  color: #ffb600;
  border: none;
  background-color: rgba(255, 182, 0, 0.12);
  border-radius: 4px;
}

.Actions {
  color: #7e8299;
  border-radius: 5px;
  border: 1px solid #7e8299;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #37b721;
  border-color: #37b721;
}

.pagination {
  --bs-pagination-color: black !important;
  --bs-pagination-border-color: none;
}

.GraphDropdown {
  font-size: 22px;
  cursor: pointer !important;
}

.profiledrop {
  cursor: pointer;
}

.lineGraphDiv {
  width: 56%;
}

@media screen and (max-width: 1199.9px) {
  .lineGraphDiv {
    width: 100%;
  }
}
.logoutbtn {
  background-color: #268E0F !important;
  border-radius: 4px;
  text-align: center;
  border: none;
}
.logoutbtn a {
  color: #e8eaed;
}
.logoutbtn a:hover {
  color: white !important;
  background-color: #268E0F;
}

.logoutbtn:hover {
  background-color: #268E0F;
}

.progress {
  height: 6px;
}
.progress .progress-bar {
  border-radius: var(--bs-progress-border-radius);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(206, 201, 201);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #268E0F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a8d19;
}

.addControlBtn {
  width: 24.7px;
  height: 24.7px;
  border-radius: 2.3px;
  background-color: #f3f6f9;
  border: none;
}

.filterSearchbtn {
  border-color: transparent;
  background-color: transparent;
  font-size: 12px;
  color: #7e8299;
}
.filterSearchbtn:hover {
  border-color: transparent !important;
}

.exclamationDiv {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: #ffc700;
  background-color: #fff8dd;
  font-size: 60px;
}

.Cancelbtn:hover {
  border-color: transparent !important;
}

.Deletebtn {
  background-color: #f1416c;
  border: none;
}
.Deletebtn:hover {
  background-color: #f1416c !important;
}

@media screen and (max-width: 576px) {
  .modal-content {
    width: 100% !important;
  }
}/*# sourceMappingURL=dashboard.css.map */