$greencolor: #37b721;
$ancorcolor: #7e8299;
$colorlight: #f3f6f9;
$colorlight_O_9: rgba(243, 246, 249, 0.9);
$headingColor: #0b244f;
$bodybgcol: #f2f3f7;
// $totalListing: #5267ff;
// $free: #26bfb4;
// $hot: #f94e67;
// $superhot: #865cf7;
// $boxyellow: #ffb600;
// $boxred: #f1416c;
// $hover: #37b721;
// $fontcolor: #e8eaed;
@font-face{
	font-family: InterV-medium;
	src : url('../Fonts/Inter/static/Inter-Medium.ttf');
	font-display: swap;
}
*{
	font-family: InterV-medium !important;
}
body{
    background-color: $bodybgcol;
}

.font_12{
    font-size: 12px;
}
.headingcolor{
    color:$headingColor;
}
.post_BasicInfo {
	text-align: left;
	.basicno1 {
        color: $greencolor;
		width: 30px;
		height: 30px;
		border-radius: 4px;
		background-color: $colorlight_O_9;
        line-height: 2.43;
	}
.BasicinfoTab{
    font-weight: 600;
}
.basicinfodetail{
    color: $ancorcolor;
    line-height: 1.33;
}
}

.post_price_loc {
	text-align: left;
	.basicno2 {
		width: 30px;
		height: 30px;
        color: $greencolor;
		border-radius: 4px;
		background-color: $colorlight_O_9;
        line-height: 2.43;
	}
.BasicinfoTab{
    font-weight: 600;
}
.basicinfodetail{
    color: $ancorcolor;
    line-height: 1.33;
}
}
.post_BasicInfo, .post_price_loc{
    background-color: $colorlight !important;
    border: none !important;
    
}
.PostAdd{
    border-color: $bodybgcol !important;
}
.postAddMainDiv{
.active{
    background-color: white!important;
    border: none !important;
        .basicno2,.basicno1  {
            color: white !important;
            background-color: $greencolor !important;
        }
    .BasicinfoTab{
        color: $greencolor;
    }
    .basicinfodetail{
        color: $ancorcolor;
    }
    }
}
    .BasicInfoDetails{
        .font-interMed, p, input, label, select, textarea{
        font-family: InterV-medium !important;
        }
        p, input,  select, textarea{
            font-size: 14px;
            color: $ancorcolor;
        }
     
        input, select, textarea{
            background-color: $colorlight;
            border: none !important;
        }
        .AllLabels{
            font-size: 14px;
            color: $headingColor;
            width: 200px;
            margin-right:30px;
        }
        .FormDropDown{
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .AllLabels2{
            margin-right:25px;

        }
    }
    .Nextbutton_Post{
        background-color: $greencolor;
        color: white;
    }
.custom-upload{
    border: 1px dashed $greencolor;
    border-radius: 5px;
    width: 128px;
    height: 118px;
    background-color: $colorlight;
}

.Membershipcard{
    width: 80vw;
    max-width: none;
    height: auto;
    margin: 0;
}


// .uploadFileMainDiv .btn{
//     :hover{
//         border: 1px dashed $greencolor !important;
//     }
// }

// Subscriptions



// @import url("https://fonts.googleapis.com/css?family=Montserrat");



// .pricing-table .block-heading {
//   text-align: center; 
// }



// .pricing-table .item {
//   background-color: #ffffff;
//   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
//   border-top: 2px solid #5ea4f3;
//   padding: 30px;
//   overflow: hidden;
//   position: relative; 
// }

.itemSubs{
    background-color:#f3f6f9 ;
    border-radius: 4px;
    // width: 85%;
    .ProvidedServices{
       color: #7e8299;
       li{
        line-height: 1.42;
       }
    }
}
.SubsButton{
    border: none;
	color: white;
	background-color: $greencolor;
	&:hover {
		background-color: #198107 !important;
		color: white;
	}
}
.cardsSubs .active{
    color: white !important;
    background: linear-gradient(#64d249, #2cb707) !important;
    li{
    color: white !important;
    }
    .SubsButton{
        color:$greencolor !important;
        background-color: white !important;
        &:hover{
            color:$greencolor !important;
            background-color: white !important;
        }
    }
    }

// .pricing-table .item p {
//   text-align: center;
//   margin-top: 20px;
//   opacity: 0.7; 
// }

// .pricing-table .features .feature {
//   font-weight: 600; }

// .pricing-table .features h4 {
//   text-align: center;
//   font-size: 18px;
//   padding: 5px; 
// }

// .pricing-table .price h4 {
//   margin: 15px 0;
//   font-size: 45px;
//   text-align: center;
//   color: #2288f9; 
// }

// .pricing-table .buy-now button {
//   text-align: center;
//   margin: auto;
//   font-weight: 600;
//   padding: 9px 0; 
// }
