$headerbg: #024751;
$fontcolor: #e8eaed;
$fontcolor2: #777777;
$hover: #37b721;
$login: #024751;
$pink: #ff2c63;
$orange: #fdc703;
$red: #f73859;

.bgcolor{
    background: white !important;
    color: black !important;

    .nav-item {
        a {
            color: black !important;
            border-bottom: 3px solid transparent;

            &:hover {
                color: black !important;
                border-bottom: 3px solid black;
            }
        }
    }
    .login {
        margin-right: 25px;
    
        a {
            color: black;
            border-bottom: 3px solid transparent;

        }
    
        a:hover {
            color: black !important;
            border-bottom: 3px solid black;
        }
    }
}
.carouselTopMargin{
    margin-top: 78px !important;
}
.detailsMainSliderNav {
    font-size: 2em;
    z-index: 5;

    .owl-prev,
    .owl-next {
        margin: 0 5%;
        border-radius: 50%;
        width: 3.2rem;
        aspect-ratio: 1;
        background-color: #e8eaed60;
        border: none;
        color: #fff !important;
        text-align: center;

        &:hover {
            background-color: $hover;
            color: #fff !important;
        }
    }
}

.detailsMainSliderDots{
    z-index: 100;
    bottom: 20%;
    .active{
        background-color: $hover;
    }
}
    .owl-dot{
        width: 7.3px;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        margin: 5px;
    }
    

.contactForm {
    box-shadow: 0 8px 12px 0 rgba(212, 213, 216, 0.75);
    background-color: #fff;
    z-index: 20;
    transform: translateY(-100px);
    margin-bottom: -100px;
    position: relative;

    @media screen and (max-width:575px) {
        transform: translateY(0);
    }
}

.email {
    background-color: $hover;

    &:hover {
        background-color: #fff !important;
        border: $hover solid 1px !important;
        color: $hover !important;
    }
}

.phone input,
select {
    outline: none;
}

.call {
    border: $hover 1px solid;
    color: $hover !important;

    &:hover {
        background-color: $hover !important;
        color: $fontcolor !important;
    }
}

.heading {
    color: $pink;
}

.title {
    color: #0b244f;

    span {
        color: $hover;
    }
}

.futureCardButtons {
    font-size: 2em;

    .owl-prev,
    .owl-next {
        width: 3rem;
        aspect-ratio: 1;
        margin: 5px;
        border: none;
        border: $hover solid 1px;
        background-color: transparent;
        color: $hover !important;

        &:hover {
            background-color: $hover;
            color: #fff !important;
            border: $hover solid 1px;
        }
    }
}

// Feather card 
.cardFuture {
    a {
        color: $fontcolor2;
    }

    .card-title {
        color: #0b244f;
    }

    &:hover .card-title {
        color: $hover;
    }

    .companyLogo {
        max-width: 50px;
    }

    &:hover {
        box-shadow: 0 8px 12px 0 rgba(212, 213, 216, 0.75);
    }
}

.analyticIcon {
    background-color: #1b191971;
    border-radius: 10%;
}

.verify {
    color: $hover;
}

.location {
    color: $hover;
}


.box {
    width: 77px;
    height: 86px;
    position: relative;
}

.box2 {
    width: 77px !important;
    height: 86px !important;
    position: relative !important;
}

.ribbon {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 81px;
    height: 76px;
    text-align: center;
}

.ribbon span {
    font-size: 8px;
    color: #808080;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    transform: rotate(-45deg);
    width: 108px;
    display: block;
    background: white;
    background: white;
    position: absolute;
    top: 15px;
    left: -33px
}

.ribbon span::before {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
}

.ribbon span::after {
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
}

.ribbon2 {
    position: absolute;
    left: -5.3%;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 81px;
    height: 76px;
    text-align: center;
}

.ribbon2 span {
    font-size: 8px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    transform: rotate(45deg);
    width: 108px;
    display: block;
    background: $red;
    background: $red;
    position: absolute;
    top: 18px;
    left: 0px;
}

.ribbon2 span::before {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
}

.ribbon2 span::after {
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    height: 35%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}