$headerbg: #024751;
$fontcolor: #e8eaed;
$fontcolor2: #777777;
$hover: #37b721;
$login: #024751;
$pink: #ff2c63;
$orange: #fdc703;
$red: #f73859;
$price: #0b244f;
$addaddedcol:#afafaf;
.bgTexture3srch{
background-image: url('../images/background/texture3.png');
margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(160px);
    height: 150px;
}
// .owl-item img{
//     display:inline !important;
//     width: auto !important;
// }
.indexsearchbutton{
    box-shadow: 0 8px 12px 0 rgba(212, 213, 216, 0.75);
    background-color: #fff;
    margin: 50px 0;
    z-index: 100;
    transform: translateY(-150px);
margin-bottom: -70px;
    select {
        background-color: #f8f8f8;
    }
    a{
        background-color: $hover;
        border: $hover solid 1px;
        text-decoration: none;
        &:hover{
            background-color: #fff;
            border: $hover solid 1px;
            color: $hover !important;
        }
    }
}
.bdTexture4srch {
    background-image: url('../images/background/texture4.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
    height: 113px !important;
    transform: translateY(97px);
}


.resultFound{
    background-image: url('../images/background/boatbg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 537px;
    padding-top: 153.6px;
}
.Verifiedlogo{
    margin-top: -24px;
}


.detailedadds{
    width: 333px !important;
    border-radius: 15px !important;
    box-shadow: 0 10px 8px 0 rgba(205, 206, 207, 0.65);

}

.card-img-top {
    width: 100% !important;
    height: 180px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.addressiconcard{
    width: 7.2px !important;
  height: 11.4px;
}

.CardTitle{
    text-decoration: none;
    color: $price;
    &:hover{
        color: $hover;
    }
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    height: 35%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}
.addsImage{
    margin-top: 69.5px;
    margin-left: 5.6px;
}
.cameraclick{
    width: 42.3px !important;
  height: 19.6px;
  margin-right:6.4px ;

  border-radius: 2.9px;
  background-color: rgba(0, 0, 0, 0.399);
  color: white;
  font-size: 12px;
  padding-left: 6px;
}
.youtubewatch{
    width: 42.3px !important;
  height: 19.6px;
  margin-right:6.4px ;

  border-radius: 2.9px;
  background-color: rgba(0, 0, 0, 0.399);
  color: white;
  font-size: 12px;
  padding-left: 6px; 
}
.colGreen {
    color: $hover;
}
.graycolor2 {
    color: $fontcolor2;
}
.colGrayFont12{
    color: $fontcolor2;
}
.coladded{
    color: $addaddedcol;
}

.card-text {
    color: $fontcolor2;
}
.companyImg {
    float: left;
    margin-left: 12px;
  width: 90%;
    border: none;
    img{
        height: 53px;
        width: 53px;

    }
}
.callbtnancer{
  text-decoration: none;
  color: $hover;
  text-align: center;
  &:hover{
    color: $hover;
  }
}
.callbtn{
    width: 100%;
  height: 29.1px;
  border-radius: 5.7px;
  border:1px solid $hover ;
  color: $hover;
}
.Emailbtnancer{
    text-decoration: none;
    color: $hover;
    text-align: center;
    &:hover{
      color: $hover;
    }
  }
  .Emailbtn{
      width: 100%;
    height: 29.1px;
    border-radius: 5.7px;
    border:1px solid $hover ;
    color: white;
    background-color: $hover;
    margin-left:15.7px ;
  }
  .CardNo1,
.CardNo2,
.CardNo3 {
    border-radius: 15px !important;
margin-bottom: 20px;
}


.PKRsize{
    font-size: 14px;
    color: $price;
}
.PKRprice{
    color: $price;
}
.colGreenFont18 {
    color: $hover;
}